
<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
        <li class="nav-item">
            <span class="navbar-text text-dark">Hello @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="CustomAccount" asp-action="SignOutT1">Sign out t1</a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-dark"  asp-controller="CustomAccount" asp-action="SignOutT2">Sign out t2</a>
        </li>
}
else
{
        <li>
            <div class="main-menu">
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownLangButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        sign-in
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownLangButton">
                        <a class="dropdown-item" asp-controller="CustomAccount" asp-action="SignInT1" >Sign-in t1</a>

                        <a class="dropdown-item"  asp-controller="CustomAccount" asp-action="SignInT2">Sign-in t2</a>
                    </div>
                </div>
            </div>
        </li>
}
</ul>
